<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>白码非码 - 文章发表</title>
	<link rel="stylesheet" type="text/css" href="css/reset.css">
    <link rel="stylesheet" type="text/css" href="css/user.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <link rel="stylesheet" type="text/css" href="css/article_release.css">

    <script type="text/javascript" src="js/jquery-1.4.min.js"></script>
    <script type="text/javascript" src="js/jquery.form.min.js"></script>
    <script src="plugin/tinymce/js/tinymce/tinymce.min.js"></script>
    <script src="js/tinymce_setup.js"></script>
    <script src="js/host.js"></script>
    <script src="js/vue-2.5.16.js"></script>
    <script src="js/axios-0.18.0.min.js"></script>

</head>
<body>
<div class="navbar">
    <ul>
        <li><a href="home.html">主页</a></li>
        <li><a href="user.html">个人中心</a></li>
    </ul>
    <div class="user_info">
        <img src="img/user_pic.png" alt="头像">
        <span>用户:zha张安ngsan</span>
    </div>
</div>
<div class="inframe_body" id="app">
    <form class="release_form" @submit.prevent="article_submit">
        <h3>个人文章发布</h3>
        <div class="form-group"><label>*文章标题：</label><input type="text" class="input_txt2" v-model="title"></div>
        <div class="form-group">
            <label>*文章分类：</label>
            <select class="sel_opt" v-model="stair_category_id">
                <option v-for="stair_category in stair_categories" v-bind:value="stair_category.id">{{ stair_category.name }}</option>
            </select>
            <select class="sel_opt" v-model="category_id">
                <option v-for="foxbase_category in foxbase_categories" v-bind:value="foxbase_category.id">{{ foxbase_category.name }}</option>
            </select>
        </div>
        <div class="form-group"><label>摘要：</label><textarea class="input_multxt" v-model="digest"></textarea></div>
        <div class="form-group"><label>上传图片：</label><input type="file" name="index_image" class="input_file"></div>
        <div class="form-group">
            <label>*内容：</label>
            <div class="fl" ><input style="width: 80%" class="input_area" id="rich_content" v-model="content" value=" "/></div>
        </div>
        <div class="form-group">            
            <input type="submit" value="发 布" class="input_sub input_sub2">
        </div>
        <div class="error_tip2">错误提示</div>
    </form>
    <!--<script>-->
        <!--$(function(){-->
            <!--window.parent.fnSetIframeHeight(900);-->
        <!--})-->
    <!--</script>-->
</div>
<div class="footer">
        <div class="foot_link">
            <a href="#">关于我们</a>
            <span>|</span>
            <a href="#">联系我们</a>
            <span>|</span>
            <a href="#">招聘人才</a>
            <span>|</span>
            <a href="#">友情链接</a>
        </div>
        <p>CopyRight © 2016 白码非码 - 个人学习网 All Rights Reserved</p>
        <p>电话：010-****888    京ICP备*******8号</p>
    </div>

</body>
<script type="text/javascript" src="js/article_release.js"></script>
<script src="js/backstretch.min.js"></script>
<script type="text/javascript">
$.backstretch('img/400.jpg');
</script>
</html>