/*透明设置*/
.w_main_right{
    opacity: 0.95;
    /*float: right;*/
    position: absolute;
    top: 0;
    left: 75%;

}

.article_category{
	width: 100%;
	height: 40px;
	background: #5f5f5f;
	border-radius: 5px 40px 0 0 ;
}
.article_category ul {
	padding: 0;

}
.article_category li{
	display: inline-block;
	line-height: 40px;
	width: 85px;
	list-style: none;
	font-size: 16px;

	text-align: center;

}
.panel .panel-default{
	border: none !important;
	border-radius: 0 0 4px 4px !important;
 }
.panel-heading{
    background: lightgrey;
	border: 2px;
	border-radius: 5px 5px 0 0;
}
.w_main_row{
    margin: 30px auto ;
    margin-left: -3%;
    position: relative;
}

.panel-default{
    opacity: 0.95;
}

/*博主置顶*/
.contenttop:hover{
	border: 1px #FF5E52 solid;
}
.contenttop>a{
	display: block;
	padding: 0px 15px 15px 20px;
}
.contenttop strong{
    background-color: #FF5E52;
    margin: -1px 0 0 0;
    display: inline-block;
    padding: 4px 15px;
    color: #fff;
    font-size: 14px;
    font-weight: normal;
}
.contenttop .title{
    color: #FF5E52;
    font-size: 20px;
    font-weight: normal;
    margin-top: 14px;
}
.contenttop .overView{
	color: #999;
    margin-bottom: 0;
}


/*公告*/
.sitetip:hover{
	border: 1px #8EC55F solid;
}
.sitetip>a{
	display: block;
	padding: 0px 15px 15px 20px;
}
.sitetip strong{
    background-color: #8EC55F;
    margin: -1px 0 0 0;
    display: inline-block;
    padding: 4px 15px;
    color: #fff;
    font-size: 14px;
    font-weight: normal;
}
.sitetip .title{
    color: #8EC55F;
    font-size: 20px;
    font-weight: normal;
    margin-top: 14px;
}
.sitetip .overView{
	color: #999;
    margin-bottom: 0;
}

.contentList .title{
	font-size: 16px;
	color: #333;
	font-weight:600;
}
.contentList a.title:hover{
	color: #337AB7;
}
.contentList .label{
	margin-right: 10px;
}

.contentList .overView{
	color: #555;
	line-height:1.5;
	color: #5f5f5f;
}
.count{
	margin-right: 10px;
	font-size:12px;
}
.count>i{
	margin-right: 5px;
}
.count>a{
	color: #5f5f5f;
}
.contentleft{
	width:75%;
	float: left;
}
.contentList .contentImage{
	float: right;
}
.contentList .contentImage .row{
	margin: 0px;
}
.contentList .contentImage .row .thumbnail{
	margin: 0px;
	padding: 0px;
}
.contentList .contentImage img{
    width: 160px;
    height: 160px;
}

.labelList{
	padding: 0px;
}
.labelList .label{
	float: left;
	margin: 5px;
	font-size: 14px;
}
.list-unstyled{
	padding-left:0px;
	list-style:none;
	margin-top:0px;
	margin-bottom:10px;
}
.sidebar li{
	border-bottom:1px solid #d8e6f8;
	padding:5px 0px;
}
.sidebar li a{
	font-size:14px;
	color:#000;
}
.sidebar li a:hover{
	color: #337AB7;
}
.shiplink li{
	background: #F3F3F3;
	border-radius: 50%;
    text-align: center;
    border-bottom: none;
}

.contentList .panel-body{
	box-shadow: 0px 8px 18px rgba(0,0,0,0.06);
	transition: all .2s ease-out;
}
.contentList .panel-body:hover{
	box-shadow: 0px 8px 18px rgba(0,0,0,0.15);
	transition: all .2s ease-out;
}


/*日历样式*/
#CalendarMain {
	width: 300px;
	height: 300px;
}
#title {
	width: 100%;
	height: 30px;
	background-color: #363636;
    border-radius: 3px 3px 0 0 ;
}
.selectBtn {
	font-weight: 900;
	font-size: 13px;
	color: #fff;
	cursor: pointer;
	text-decoration: none;
	padding: 7px 10px 6px 10px;
}
.selectBtn:hover {
	background-color: #1d953f;
}
.selectYear {
	float: left;
	margin-left: 50px;
	position: absolute;
}
.selectMonth {
	float: left;
	margin-left: 120px;
	position: absolute;
}
.month {
	float: left;
	position: absolute;
}
.nextMonth {
	float: right;
}
.currentDay {
	float: right;
}
#context {
	background-color: #fff;
	width: 100%;
}
.week {
	width: 100%;

}
.week>h3 {
	float: left;
	color: #808080;
	text-align: center;
	margin: 0;
	padding: 0;
	margin-top: 2px;
	font-size: 14px;
}
.dayItem {
	float: left;
}
.lastItem {
	color: #d1c7b7 !important;
}
.item {
	color: #333;
	float: left;
	text-align: center;
	cursor: pointer;
	margin: 0;
	font-family: "微软雅黑";
	font-size: 11px;
}
.item:hover {
	color: #b9121b;
}
.currentItem>a {
	background-color: #b9121b;
	width: 25px;
	line-height: 25px;
	float: left;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	color: #fff;
}
#foots {
	width: 100%;
	height: 35px;
	background-color: #fff;
	border-top: 1px solid #ccc;
	margin-top: -1px;
}
#footNow {
	float: right;
	margin: 6px 15px 0 0;
	/*color: #009ad6;*/
    color: #fe0000;
	font-family: "微软雅黑";
    font-size: 13px;
}
#Container {
	overflow: hidden;
	float: left;
}
#center {
	width: 100%;
	overflow: hidden;
}
#centerMain {
	width: 300%;
	margin-left: -100%;
}
#selectYearDiv {
	float: left;
	background-color: #fff;
}
#selectYearDiv>div {
	float: left;
	text-align: center;
	font-family: "微软雅黑";
	font-size: 16px;
	border: 1px solid #ccc;
	margin-left: -1px;
	margin-top: -1px;
	cursor: pointer;
	color: #909090;
}
.currentYearSd, .currentMontSd {
	color: #ff4400 !important;
}
#selectMonthDiv {
	float: left;
	background-color: #fff;
}
#selectMonthDiv>div {
	color: #909090;
	float: left;
	text-align: center;
	font-family: "微软雅黑";
	font-size: 16px;
	border: 1px solid #ccc;
	margin-left: -1px;
	margin-top: -1px;
	cursor: pointer;
}
#selectYearDiv>div:hover, #selectMonthDiv>div:hover {
	background-color: #efefef;
}
#centerCalendarMain {
	float: left;
}

