.header_con{
    width: 100%;
}
.bg_color{
    background: grey;
}
.header_con #category{
    background: lightgray;
    display: inline-block;
    position: absolute;
    left: 40%;
    font-size: 14px;
}

.header_con #category a{
    line-height: 35px;
    margin: 0 30px;
    color: black;
    text-decoration: none;
}
.ul_category{
    list-style: none;
    margin: 0;
    display: inline-block;
}
.li_category{
    list-style: none;
    margin: 0;
    display: inline-block;
}
.category_ul {
    display: none;
    list-style: none;
    color: grey;
    margin: 0;
    padding: 0;
    background: lightgray;
}
.category_ul_01{
    position: absolute;
    top: 35px;
    left: 133px;
}
.category_ul_02{
    position: absolute;
    top: 35px;
    left: 225px;
}
.category_ul_03{
    position: absolute;
    top: 35px;
    right: 171px;
}
.category_ul_04{
    width: 102px;
    position: absolute;
    top: 35px;
    right: 0;
}