.header_con{
    width: 100%;
    height: 35px;
    background: black;
    line-height: 35px;
}

.header_con ul{
    margin: 0;
    padding: 0;
}
.header_con li{
    list-style: none;
    display: inline-block;
    padding-left: 20px;
}
.header_con li a{
    color: white;
    font-size: 13px;
    text-decoration: none;
}
.set_right{
    display: inline;
    position: relative;
    left: 45%;
}
