.header_con{
    width: 100%;
    height: 35px;
    background: black;
    line-height: 35px;
}

.header_con ul{
    margin: 0;
    padding: 0;
}
.header_con li{
    list-style: none;
    display: inline-block;
    padding-left: 20px;
}
.header_con li a{
    color: white;
    font-size: 13px;
    text-decoration: none;
}
.set_right{
    display: inline;
    position: relative;
    left: 45%;
}

/*页面底部样式*/
.footer{
	border-top:1px solid #fe0000;
    font-size: 13px;
    background: lightgray;
    width: 100%;
    position: fixed;
    left: 0;
    top: 86%;
}

.foot_link{
    text-align:center;
    margin-top:10px;
}
.foot_link a,.foot_link span{
    color:#4e4e4e;
}
.foot_link a:hover{
    color:#ff8800
}
.foot_link span{
    padding:0 10px 0 10px
}
.footer p{
    text-align:center; margin-top:10px;
}
