.set_right_user_center{
    display: inline;
    position: relative;
    left: 57%;
}
.personal_info_con{
    margin: 20px auto;
    width: 90%;
    background: white;
    border: 0.5px solid gainsboro;
}
.modify_info{
    padding: 10px 30px;
    float: right;
}
.personal_info_con dl{
    display: inline-block;
}

.personal_photo{
    margin: 25px 0 10px 10px;
}
.per_pic_img{
    width: 130px;
    height: 130px;
    margin-left: 20px;
}
.user_name{
    font-size: 25px;
    text-align: center;
    margin-left: 20px;
}

.personal_fol a{
    color: #4e4e4e;
    font-size: 15px;
}
.personal_info_title h2{
    display: inline-block;
    font-size: 28px;
    margin-bottom: 0;
}
.personal_info_title a{
    color: #4e4e4e;
}

.personal_info_detail{
    margin-top: 10px;
}
.personal_info_detail span{
    padding-right:10px;
    font-size: 12px;
    color: lightgray;
}
.personal_info_detail a{
    padding-right:10px;
    font-size: 18px;
    color: #fe0000;
}
.personal_des_title{
    margin: 10px 40px;
    font-size: 12px;
    font-weight:normal;
}
.personal_detail_con_title{
    width: 90%;
    margin: 0 auto;
}

.blank_li{
    display:inline-block;
    float: right;
    width: 468.5px;
    height: 42px;
    border-bottom: 1px solid dimgrey;
}
.personal_detail_con_title{
    font-size: 0;

}
.personal_detail_con_title li{
    width: 180px;
    background: lightgray;
    text-align: center;
    display: inline;
    border-top: 2px solid dimgrey;
    border-right: 1px solid dimgrey;
    border-bottom: 1px solid dimgrey;
}
.personal_detail_con ul{
    padding: 0;
}
.personal_detail_con li{
    list-style: none;
    display: inline-block;
    margin: 0;
    font-size: 18px;
    line-height: 40px;
}
.personal_detail_con_content{
    width: 90%;
    margin: 0 auto;
}
.article_title{
    margin: 0;
    margin-bottom: 20px;
}
.article_title li{
    display: block;
    margin-left: 20px;
    border-bottom: 1px dashed gray;
}
.article_name{
    padding: 15px 0;
    display: inline-block;
    font-size: 16px;
    color: darkturquoise;
}
.article_time{
    font-size: 13px;
    float: right;
    padding: 15px;
    color: grey;
}
.article_delete{
    float: right;
    padding: 15px;
    font-size: 12px;
    color: grey;
}



